<div class ="container">
<div class ="text-center">
<h3>First Name</h3><h4><kbd><%= current_user.first_name %></kbd></h4></br>
<h3>Last Name</h3><h4><kbd><%= current_user.last_name %></kbd></h4></br>
<h3>Email</h3><h4><kbd><%= current_user.email %></br></div>

</kbd></h4></div>
<%= link_to "-Edit", edit_user_path %>