<div class ="text-center"><h2><kbd>User's Blog</kbd></h2>

<div class ="container">

<div class ="text-center">
<table  class="table table-striped"><% @posts.each do |p| %>
<%# if current_user.id == p.user_id %>
<tr>
<td><h5><%= p.title  %></h5></td>
<td><h5><%= link_to 'Show blog ', post_path(p), remote: true %></h5></td>
<td><%= image_tag p.images.try(:first).try(:image_name).try(:thumb).try(:url) %></td>
</tr>
<%end %>
</table>
</div></div>